.brandsContainer {
  padding: 20px 100px;
  width: 100%;
  text-align: center;
}

.brandsContainer h1 {
  color: var(--primary);
  margin-bottom: 20px;
}

.brandsContainer div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-height: 30vh;
}

.brandsContainer img {
    width: 150px;
    height: auto;
    object-fit: contain;
}