.downloadSection-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 150px 0;
}

.downloadSection-container h1 {
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
}

.downloadSection-base {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 51px;
  margin-top: 27.53px;
}

.downloadSection-base img {
  width: 374px;
  height: 145px;
}

@media (max-width: 970px) {
  .downloadSection-container h1 {
    font-size: 20px;
    line-height: 30px;
  }
  .downloadSection-base img {
    width: 135px;
    height: 52px;
  }
  .downloadSection-container {
    margin-top: 40px;
  }
}

