.footerContainer {
  min-height: 50vh;
  width: 100%;
}

.footerContainer section {
  width: 100%;
  padding: 38px 40px;
  background-color: #1b1c1e;
  min-height: 50vh;
  display: flex;
  justify-content: space-between;
  color: var(--white);
}
.footerContainer section:first-child div {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.footerContainer section div .payment-method {
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: inline;
}

.payment-method img {
  width: 90px;
  height: 54px;
  margin-right: 32px;
}

.footerContainer section div h2 {
  color: var(--primary);
  font-size: 24px;
  line-height: 31px;
  font-weight: 600;
}

.footerContainer section div p {
  color: var(--white);
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
}

@media (max-width: 970px) {
  .payment-method img {
    width: 28px;
    height: 16px;
  }
  .footerContainer section {
    padding: 24px;
    display: flex;
    flex-direction: column;
    grid-gap: 0;
    margin-bottom: 20px;
    gap: 45.5px;
    min-height: 100vh;
  }
  .footerContainer section:first-child div {
    gap: 35px;
  }
}

@media (max-width: 951px) {
  .payment-method img {
    width: 28px;
    height: 16px;
  }
  .footerContainer section {
    padding: 24px;
    display: flex;
    flex-direction: column;
    grid-gap: 0;
    margin-bottom: 20px;
    gap: 45.5px;
    min-height: 100vh;
  }
  .footerContainer section:first-child div {
    gap: 35px;
  }
}
