 .heroSectionContainer {
  width: 100vw;
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.heroSectionContainer div:first-child {
  padding-left: 142px;
  margin-top: 63px;
}

.heroSectionContainer div:first-child p {
  margin-bottom: 24px;
}

.heroSectionContainer div:first-child button {
  background-color: var(--primary);
  border: none;
  outline: none;
  color: var(--white);
  padding: 10px 30px;
  width: 192px;
  height: 52px;
  font-size: 15px;
  margin-left: 8px;
  /* box-shadow: 0px 0px 20px -8px grey; */
  cursor: pointer;
  transition: box-shadow 0.3s;
  margin-right: 24px;
}

.heroSectionContainer div:first-child button:hover {
  box-shadow: var(--button-hover-shadow);
}

.heroSectionContainer div h1 {
  font-size: 45px;
  margin-bottom: 32px;
  margin-top: 16px;
}

.heroSectionContainer div:nth-child(2) {
  display: flex;
}

.heroSectionContainer div img {
  width: 100%;
  height: 100%;
}

.active {
  color: var(--primary);
}

.black {
  color: var(--black);
  font-weight: 900;
  font-family: cursive;
}

.primary {
  color: var(--primary);
  font-family: cursive;
}

h2 {
  color: var(--primary);
  line-height: 36px;
  font-size: 24px;
  font-weight: bold;
}
h1 {
  color: var(--black);
  line-height: 60px;
  font-size: 40px;
  font-weight: bold;
}
p {
  line-height: 24px;
  font-size: 16px;
  font-weight: normal;
}
.heroSectionContainer .chatbot-container {
  height: 91px;
  width: 85.96px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background-color: #ff7d05;
  position: absolute;

  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroSectionContainer .chatbot-container img {
  width: 49.99px;
  height: 44.9px;
}

.heroSectionContainer h1 {
  font-weight: 600;
}

@media (max-width: 970px) {
  .heroSectionContainer div:first-child button {
    font-size:12px;
    font-weight: 500;
  }
  .heroSectionContainer {
    flex-direction: column;
  }
  h2 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
    margin-left: 24px;
  }
  .heroSectionContainer div h1 {
    font-size: 24px;
    line-height: 36px;
    margin-left: 24px;
  }
  .heroSectionContainer div:first-child{
    padding-left: 0;
  }
  p {
    font-size: 12px;
    line-height: 18px;
    margin-left: 24px;
  }
  .heroSectionContainer .chatbot-container img {
    width: 32px;
    height: 32px;
  }

  .heroSectionContainer .down-container {
    position: relative;
  }

  .heroSectionContainer .chatbot-container {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .heroSectionContainer div:first-child {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
  }

  .heroSectionContainer div:nth-child(2) {
    margin-right: 0px;
  }
}
