.howWeOperateContainer {
  min-height: 80vh;
  margin-bottom: 150px;
}

.howWeOperateContainer h1 {
  color: #1b1c1e;
  font-size: 36px;
  line-height: 46px;
  font-weight: bold;
}

.howWeOperateContainer h4 {
  font-size: 20px;
  line-height: 26px;
  font-weight: normal;
  color: #1b1c1e;
}

.howWeOperateContainer .topLayer img {
  width: 374px;
}

.flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
}

.maylike-products-wrapper {
  margin-top: 10px;
}

.maylike-products-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 10px;
}
.track {
  animation: marquee 10s linear infinite;
  width: 550px;
}

.marquee {
  position: relative;
  height: 400px;
  width: 100%;
  overflow-x: hidden;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 25s linear infinite;
  transition: ease-in-out all;
  width: 180%;
  -webkit-transition: ease-in-out all;
  -moz-transition: ease-in-out all;
  -ms-transition: ease-in-out all;
  -o-transition: ease-in-out all;
  -webkit-animation: marquee 25s linear infinite;
}
.track:hover {
  animation-play-state: paused;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-25%);
    -webkit-transform: translateX(-25%);
    -moz-transform: translateX(-25%);
    -ms-transform: translateX(-25%);
    -o-transform: translateX(-25%);
}
}

.product-card {
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  color: #324d67;
}

.product-card img {
  width: 59px;
  height: 69.93px;
}
.product-card:hover {
  transform: scale(1.1, 1.1);
}
.product-image {
  border-radius: 15px;
  background-color: #ebebeb;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.howWeOperateContainer .howWeOperateBottomLayer {
  width: 90%;
  margin: auto;
  background-color: rgba(252, 235, 218, 0.24);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -200px;
}

.stage-flex{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.details{
  margin-top: 10px;
}
.howWeOperateContainer .howWeOperateBottomLayer h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
}

.howWeOperateContainer .howWeOperateBottomLayer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.howWeOperateContainer .howWeOperateBottomLayer .howWeOperateBottomLayerflex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 91px;
  gap: 215px;
  width: 95%;
  margin: auto;
}

.howWeOperateContainer
  .howWeOperateBottomLayer
  .howWeOperateBottomLayerflex
  h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #1b1c1e;
  text-align: left;
}
.howWeOperateContainer
  .howWeOperateBottomLayer
  .howWeOperateBottomLayerflex
  h3 {
  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-align: left;
}

.flex {
  display: flex;
  align-items: center;
  gap: 48px;
}

.flex-stage{
  justify-content: center;
}

.howWeOperateContainer
  .howWeOperateBottomLayer
  .howWeOperateBottomLayerflex
  .stage-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

.howWeOperateContainer
  .howWeOperateBottomLayer
  .howWeOperateBottomLayerflex
  .stage-container h6 {
  background-color: black;
  height: 80px;
  width: 80px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: var(--white);
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
 
}

@keyframes fadeinRight {
  0% {
    transform: translateX(300px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slideshow {
  overflow: hidden;
  transition: ease 1000ms;
}
  

.slideshow img {
  width: 476px;
  height: 541px;
  animation: fadeinRight 0.5s ease-in-out;
  -webkit-animation: fadeinRight 0.5s ease-in-out;
}

.slideshow-enter {
  opacity: 0;
  transition: opacity 5s;
}

.slideshow-enter-active {
  opacity: 1;
  transition: opacity 5s;
  -webkit-transition: opacity 5s;
  -moz-transition: opacity 5s;
  -ms-transition: opacity 5s;
  -o-transition: opacity 5s;
}

.slideshow-exit {
  opacity: 1;
}

.slideshow-exit-active {
  opacity: 0;
  transition: opacity 5s;
  -webkit-transition: opacity 5s;
  -moz-transition: opacity 5s;
  -ms-transition: opacity 5s;
  -o-transition: opacity 5s;
}
.stages-description {
  display: flex;
  flex-direction: column;
}

.mobile__border__stage__description{
  display: none;
}


@media (max-width: 970px) {
  .slideshow {
    display: none;

  }
  .howWeOperateContainer {
    width: 100vw;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
  }
  .flex-around {
    gap: 10px;
  }
  .howWeOperateContainer h1 {
    font-size: 14px;
    line-height: 17.92px;
  }
  .details{
    margin-top:0;
  }
  .howWeOperateContainer .topLayer img {
    width: 123px;
    height: 11.41px;
    object-fit: contain;
  }
  .howWeOperateContainer .howWeOperateBottomLayer h1 {
    font-size: 14px;
    line-height: 17.92px;
  }

  .howWeOperateContainer h4 {
    font-size: 10px;
    line-height: 12px;
    text-align: center;
  }
  .howWeOperateContainer .howWeOperateBottomLayer {
    margin-top: -280px;
  }
  .carousel img {
    width: 124;
    height: 140px;
    object-fit: contain;
  }
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
    }
  }
  .howWeOperateContainer .howWeOperateBottomLayer h1 {
    font-size: 14px;
    line-height: 21px;
    margin: 24px 0;
  }
  .howWeOperateContainer .howWeOperateBottomLayer p {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 42px;
  }
  .howWeOperateContainer .howWeOperateBottomLayer .howWeOperateBottomLayerflex {
    justify-content: space-between;
    flex-direction: row;
    gap: 0;
    margin-top: 0;
  }
  .howWeOperateContainer
  .howWeOperateBottomLayer
  .howWeOperateBottomLayerflex
  .stage-container h6 {
    height: 24px;
    width: 24px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    font-size: 16px;
    line-height: 24px;
  }
  .howWeOperateContainer
    .howWeOperateBottomLayer
    .howWeOperateBottomLayerflex
    h1 {
    font-size: 14px;
    line-height: 21px;
  }
  .howWeOperateContainer
    .howWeOperateBottomLayer
    .howWeOperateBottomLayerflex
    h3 {
    font-size: 10px;
    line-height: 15px;
  }
  .flex {
    gap: 20px;
  }
  .stage-flex{
    gap: 10px;
  }
  .stages-description {
    gap: 10px;
  }
  .carousel {
    display: none;
    transition: all 0.5s ease-in-out;
} 
}

