@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,500;0,600;0,700;0,800;1,500;1,600;1,700&display=swap");
:root {
  --primary: #ff7d05;
  --primary-transparent: rgba(255, 125, 5, 0.1);
  --button-active: rgba(255, 125, 5, 0.5);
  --white: #fff;
  --black: #121212;
  --button-hover-shadow: 0px 0px 10px #aaa;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  cursor: default;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* overflow-x: hidden; */
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: white;
  overflow-x: hidden;
}
